%li.list-group-item
  .list-group-head
    .list-group-child
      %span.clickable.glyphicon-left.glyphicon.glyphicon-chevron-down{onclick: 'toggleChildren(this)'}
      %span
        =faculty.name
        %small.gray
          = "(#{faculty.short_name})"
      = link_to '' ,edit_faculty_path(faculty), remote: true, class: 'clickable glyphicon glyphicon-pencil pull-right', onclick: "$('#myModal').modal('toggle');"

    .list-group-child.list-expandable
      - faculty.programmes.each do |programme|
        .list-group-head.sub
        %span.spacer
        %span.clickable.glyphicon.glyphicon-left.glyphicon-th-large
        %span= programme.name
        = link_to '' ,edit_faculty_programme_path(faculty, programme), remote: true, class: 'clickable glyphicon glyphicon-pencil pull-right', onclick: "$('#myModal').modal('toggle');"
      .list-group-head.sub
        %span.spacer
        = link_to '' ,new_faculty_programme_path(faculty), faculty_id: faculty,remote: true, class: 'clickable glyphicon glyphicon-left glyphicon-plus', onclick: "$('#myModal').modal('toggle');"
        %span= t('programme.add')