- reg_timerange_a = @openday_a.range_days
- reg_timerange_b = @openday_b.range_days

- reg_length_a = reg_timerange_a[:end]-reg_timerange_a[:start]
- reg_length_b = reg_timerange_b[:end]-reg_timerange_b[:start]

- reg_difference_a = reg_length_b-reg_length_a
- reg_difference_b = reg_length_a-reg_length_b

- registrants_array_a = []
- registrants_array_b = []

- total_days = (reg_length_a > reg_length_b ? reg_length_a : reg_length_b)

- days_range = '['
- (0..total_days).reverse_each do |day_num|
  - days_range += "'#{day_num.to_s}',"
- days_range += '],'

- registrants_list_a = '{name: "'+@openday_a.name+'", data:['
- registrants_count_a = 0

- while reg_difference_a > 0
  - registrants_list_a += 'null,'
  - registrants_array_a.push(0)
  - reg_difference_a -= 1

- (reg_timerange_a[:start]..reg_timerange_a[:end]).each do |key|
  - registrants_count_a += @faculty_registrants_a[key] unless @faculty_registrants_a[key].nil?
  - registrants_list_a += registrants_count_a.to_s + ','
  - registrants_array_a.push(registrants_count_a)
- registrants_list_a += ']},'

- registrants_list_b = '{name: "'+@openday_b.name+'", data:['
- registrants_count_b = 0

- while reg_difference_b > 0
  - registrants_list_b += 'null,'
  - registrants_array_b.push(0)
  - reg_difference_b -= 1

- (reg_timerange_b[:start]..reg_timerange_b[:end]).each do |key|
  - registrants_count_b += @faculty_registrants_b[key] unless @faculty_registrants_b[key].nil?
  - registrants_list_b += registrants_count_b.to_s + ','
  - registrants_array_b.push(registrants_count_b)
- registrants_list_b += ']},'

- registrations_list_a = ''
- total_registrations_count_a = 0
- @programme_registrations_a.each do |name, list|
  - reg_difference_a = reg_length_b-reg_length_a
  - registration_count_a = 0;
  - registrations_list_a += '{name: "'+name+' ('+@openday_a.date.strftime('%B %Y')+')", data:['
  - while reg_difference_a > 0
    - registrations_list_a += 'null,'
    - reg_difference_a -= 1
  - (reg_timerange_a[:start]..reg_timerange_a[:end]).each do |key|
    - registration_count_a += list[key] unless list[key].nil?
    - total_registrations_count_a += list[key] unless list[key].nil?
    - registrations_list_a += registration_count_a.to_s + ','
  - registrations_list_a += ']},'

- registrations_list_b = ''
- total_registrations_count_b = 0
- @programme_registrations_b.each do |name, list|
  - reg_difference_b = reg_length_a-reg_length_b
  - registration_count_b = 0;
  - registrations_list_b += '{name: "'+name+' ('+@openday_a.date.strftime('%B %Y')+')", data:['
  - while reg_difference_b > 0
    - registrations_list_b += 'null,'
    - reg_difference_b -= 1
  - (reg_timerange_b[:start]..reg_timerange_b[:end]).each do |key|
    - registration_count_b += list[key] unless list[key].nil?
    - total_registrations_count_b += list[key] unless list[key].nil?
    - registrations_list_b += registration_count_b.to_s + ','
  - registrations_list_b += ']},'

- country_list_a = ""
- country_count_a = 0
- other_count_a = 0
- @faculty_countries_a.each do |country|
  - unless country_count_a >= CONFIG['reports']['pie_countries']
    - country_list_a += "['"+Country[country.country].name + "'," + country.count.to_s+'],'
    - country_count_a +=1
  - else
    - other_count_a += country.count

- country_list_a += "['#{t('report.other_countries')}', #{other_count_a}]"

- country_list_b = ""
- country_count_b = 0
- other_count_b = 0
- @faculty_countries_b.each do |country|
  - unless country_count_b >= CONFIG['reports']['pie_countries']
    - country_list_b += "['"+Country[country.country].name + "'," + country.count.to_s+'],'
    - country_count_b +=1
  - else
    - other_count_b += country.count

- country_list_b += "['#{t('report.other_countries')}', #{other_count_b}]"

%h2
  %span.col-sm-8=t('report.comparison', name_a: @openday_a.name, name_b: @openday_b.name)
  %span.col-sm-4= select_tag 'team_id', options_from_collection_for_select(Openday.where('id != ?',@openday_a.id)+[Openday.new(slug: '0', name: t('report.compare_to_none'))], "slug", "name"),:onchange => "window.location.replace('/reports/#{@openday_a.slug}/compare/'+this.value+'/#{@faculty.slug}');", :prompt => t('report.compare_with') , class: 'form-control'

- active_faculty = params[:id]
%ul.nav.nav-tabs.nav-justified
  %li
    =link_to t('all'), report_compare_path(@openday_a.slug, @openday_b.slug)
  - @openday_a.openday_faculties.each do |faculty|
    %li{class: ('active' if active_faculty.downcase == faculty.faculty.short_name.downcase)}
      =link_to faculty.faculty.short_name, report_compare_faculty_path(@openday_a.slug, @openday_b.slug, faculty.faculty .slug)
%h4
  %b=t('report.faculty.unique_registrants', name: @openday_a.name )
  =registrants_count_a

%h4
  %b=t('report.faculty.total_registrations', name: @openday_a.name )
  =total_registrations_count_a

%h3.page-header=t('report.registrants_chart.title')
#container_chart_1{style: "min-width: 310px; height: 400px; margin: 0 auto"}

%h3.page-header=t('report.registrations_chart.title')
#container_chart_2{style: "min-width: 310px; height: 400px; margin: 0 auto"}

%h3.page-header=t('report.registrants_chart.title_table')
%table.table.table-hover
  %tr
    %th=t('report.day')
    %th=t('report.registrations')+" A"
    %th=t('report.registrations')+" B"
    %th=t('report.difference')
    %th=t('report.percent')

  - day_num = total_days
  - day_count = 0
  - week_count = 1
  - while day_num>0
    - if (day_num > total_days-CONFIG['reports']['in_days'].to_i-1)
      - registrants_array_a[day_num] = 0 if registrants_array_a[day_num].nil?
      - registrants_array_b[day_num] = 0 if registrants_array_b[day_num].nil?
      - registrants_a = registrants_array_a[day_num]
      - registrants_b = registrants_array_b[day_num]
      - day_num -= 1
    - elsif (day_num == 0)
      - day_num = total_days if day_num > total_days
      - registrants_a = registrants_array_a[day_num]
      - registrants_b = registrants_array_b[day_num]
    - else
      - registrants_a = registrants_array_a[day_num]
      - registrants_b = registrants_array_b[day_num]
      - day_num -= 7

    %tr
      - if (day_num > total_days-CONFIG['reports']['in_days'].to_i-1)
        %td=t('report.days', count: day_count)
        - day_count += 1
      - else
        %td=t('report.weeks', count: week_count)
        - week_count += 1
      %td=registrants_a
      %td=registrants_b
      %td=registrants_a-registrants_b
      - unless registrants_a == 0 or registrants_b == 0
        %td=(((100-(registrants_a.to_f/registrants_b.to_f)*100)*100).round / 100.0).to_s+" %"
      - else 
        %td= "- %"

.col-md-6
  %h3.page-header
    =t('report.registrations_pie.title')
    %br
    %span.small
      = "#{@openday_a.name}"
  #container_pie_1{style: "min-width: 310px; height: 400px; margin: 0 auto"}
.col-md-6  
  %h3.page-header
    =t('report.registrations_pie.title')
    %br
    %span.small
      = "#{@openday_b.name}"  
  #container_pie_2{style: "min-width: 310px; height: 400px; margin: 0 auto"}



%table.table.table-hover
  %tr
    %th=t('report.country_name')
    %th=t('report.count')+" A"
    %th=t('report.count')+" B"
    %th=t('report.difference')
    %th=t('report.percent')
  - @openday_countries.each do |country|
    - unless country.count < 1
      - country_a_count = @faculty_countries_a.find {|s| s.country == country.country}
      - unless country_a_count.nil? 
        - country_a_count=country_a_count.count
      - else country_a_count = 0 

      - country_b_count = @faculty_countries_b.find {|s| s.country == country.country}
      - unless country_b_count.nil? 
        - country_b_count=country_b_count.count
      - else country_b_count = 0

      %tr
        %td=Country[country.country].name
        %td=country_a_count
        %td=country_b_count
        %td=country_a_count-country_b_count
        - unless country_a_count == 0 or country_b_count == 0
          %td=(((100-(country_a_count.to_f/country_b_count.to_f)*100)*100).round / 100.0).to_s+" %"
        - else 
          %td= "- %"
  
:javascript
  $(function () {
    $('#container_chart_1').highcharts({
      chart: {
             type: 'spline',
             zoomType: 'x',
             spacingRight: 20
            },
      title: {
        text: null,
      },
      xAxis: {
         categories: #{days_range}
         maxZoom: 14,
         minTickInterval: 4,
         minorTickLength: 10,
         labels: {
           format: '{value} days',
         }
      },
      yAxis: {
        min: 0,
        title: {
          text: '#{t('report.registrants_chart.y_axis')}'
        },
      },
      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
      },
      plotOptions: {
        spline: {
          marker: {
            enabled: false
          },
        }
      },
      series: [
        #{registrants_list_a}
        #{registrants_list_b}
      ]
    });
  });

  $(function () {
    $('#container_chart_2').highcharts({
      chart: {
             type: 'spline',
             zoomType: 'x',
             spacingRight: 20
            },
      title: {
        text: null,
      },
      xAxis: {
         categories: #{days_range}
         maxZoom: 14,
         minTickInterval: 4,
         minorTickLength: 10,
         labels: {
           format: '{value} days',
         }
      },
      yAxis: {
        min: 0,
        title: {
          text: '#{t('report.registrations_chart.y_axis')}'
        },
      },
      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
      },
      plotOptions: {
        spline: {
          marker: {
            enabled: false
          },
        }
      },
      series: [
        #{registrations_list_a}
        #{registrations_list_b}
      ]
    });
  });

  $(function () {
    $('#container_pie_1').highcharts({
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
      },
      title: {
        text: null
      },
      tooltip: {
       pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              color: '#000000',
              connectorColor: '#000000',
              format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
          }
        },
        series: [{
          type: 'pie',
          name: 'Browser share',
          data: [
                #{country_list_a}
            ]
        }]
    });
  });

  $(function () {
    $('#container_pie_2').highcharts({
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
      },
      title: {
        text: null
      },
      tooltip: {
       pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              color: '#000000',
              connectorColor: '#000000',
              format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
          }
        },
        series: [{
          type: 'pie',
          name: 'Browser share',
          data: [
                #{country_list_b}
            ]
        }]
    });
  });