%h1= t('report.for', name: @openday.name)
- active_faculty = params[:id]
%ul.nav.nav-tabs.nav-justified
  %li
    =link_to t('all'), report_path(@openday.slug)
  - @openday.openday_faculties.each do |faculty|
    %li{class: ('active' if active_faculty.downcase == faculty.faculty.short_name.downcase)}
      =link_to faculty.faculty.short_name, report_faculty_path(@openday.slug, faculty.faculty.slug)
%h4
  %b=t('report.faculty.unique_registrants', name: @openday.name )
  =@openday.registrants.count

%h4
  %b=t('report.faculty.total_registrations', name: @openday.name )
  =@openday.registrations.count

%h3.page-header=t('report.registrants_chart.title')
#container_chart_1{style: "min-width: 310px; height: 400px; margin: 0 auto"}

%h3.page-header=t('report.registrations_chart.title')
#container_chart_2{style: "min-width: 310px; height: 400px; margin: 0 auto"}

- reg_timerange = @openday.range_days

- registrants_list = '{name: "'+@openday.name+'", data:['
- registrants_count = 0
- (reg_timerange[:start]..reg_timerange[:end]).each do |key|
  - registrants_count += @faculty_registrants[key] unless @faculty_registrants[key].nil?
  - registrants_list += registrants_count.to_s + ','
- registrants_list += ']},'

- registrations_list = ''
- @programme_registrations.each do |name, list|
  - registration_count = 0;
  - registrations_list += '{name: "'+name+'", data:['
  - (reg_timerange[:start]..reg_timerange[:end]).each do |key|
    - registration_count += list[key] unless list[key].nil?
    - registrations_list += registration_count.to_s + ','
  - registrations_list += ']},'

- country_list = ""
- country_count = 0
- other_count = 0
- @faculty_countries.each do |country|
  - unless country_count >= CONFIG['reports']['pie_countries']
    - country_list += "['"+Country[country.country].name + "'," + country.count.to_s+'],'
    - country_count +=1
  - else
    - other_count += country.count


- country_list += "['#{t('report.other_countries')}', #{other_count}]"


%h3.page-header=t('report.registrations_pie.title')
#container_pie_1{style: "min-width: 310px; height: 400px; margin: 0 auto"}
%table.table.table-hover
  %tr
    %th=t('report.country_name')
    %th=t('report.country_count')
    %th=t('report.country_percent')
  - @faculty_countries.each do |country|
    - unless country.count < 1
      %tr
        %td=Country[country.country].name
        %td=country.count.to_s
        %td="#{((country.count.to_f/@openday.registrants.count.to_f)*100).round(2)}%"

  
:javascript
  $(function () {
    $('#container_chart_1').highcharts({
      chart: {
             type: 'spline',
             zoomType: 'x',
             spacingRight: 20
            },
      title: {
        text: null,
      },
      xAxis: {
        maxZoom: 10,
        categories: [
      ]},
      yAxis: {
        min: 0,
        title: {
          text: '#{t('report.registrants_chart.y_axis')}'
        },
      },
      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
      },
      plotOptions: {
        spline: {
          marker: {
            enabled: false
          }
        }
      },
      series: [
        #{registrants_list}
      ]
    });
  });

  $(function () {
    $('#container_chart_2').highcharts({
      chart: {
             type: 'spline',
             zoomType: 'x',
             spacingRight: 20
            },
      title: {
        text: null,
      },
      xAxis: {
        maxZoom: 10,
        categories: [
      ]},
      yAxis: {
        min: 0,
        title: {
          text: '#{t('report.registrations_chart.y_axis')}'
        },
      },
      legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle',
        borderWidth: 0
      },
      plotOptions: {
        spline: {
          marker: {
            enabled: false
          }
        }
      },
      series: [
        #{registrations_list}
      ]
    });
  });

  $(function () {
    $('#container_pie_1').highcharts({
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
      },
      title: {
        text: null
      },
      tooltip: {
       pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              color: '#000000',
              connectorColor: '#000000',
              format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
          }
        },
        series: [{
          type: 'pie',
          name: 'Browser share',
          data: [
                #{country_list}
            ]
        }]
    });
  });