%html
  %head
    %title= @site_title || 'OpenDay'
    = csrf_meta_tags 
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1"}

  %body
    - if admin_signed_in?
      .navbar.navbar-default.navbar-static-top{role: "navigation"}
        .container
          .navbar-header
            %button{type: "button", class: "navbar-toggle", 'data-toggle' => "collapse"  , 'data-target' => ".navbar-collapse"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to 'ODrms', root_path, class: "navbar-brand"
          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              - if params[:controller] == 'opendays'
                %li.active=link_to t('nav.opendays'), opendays_path
              - else
                %li=link_to t('nav.opendays'), opendays_path
  
              - if params[:controller] == 'a'
                %li.active=link_to t('nav.reports'), root_path
              - else
                %li=link_to t('nav.reports'), root_path
  
              - if params[:controller] == 'faculties'
                %li.active=link_to t('nav.faculties'), faculties_path
              - else
                %li=link_to t('nav.faculties'), faculties_path
            %ul.nav.navbar-nav.navbar-right
              %li=link_to t('sign_out'), destroy_admin_session_path, method: :delete

    .container
      %noscript
        .alert.alert-warning
          %strong= t('warning').html_safe
          = t('javascript_warning').html_safe
      - if flash[:error]
        .alert.alert-danger#flash_error
          = flash[:error]
      - elsif flash[:success]
        .alert.alert-success#flash_success
          = flash[:success]
      = yield
  
    :javascript
      $("#flash_success").delay(5000).animate({height: 0, margin:0, padding: 0}, 350, "linear", function() {$("#flash_success").hide();});