%html
  %head
    %title= @site_title || 'OpenDay'
    = csrf_meta_tags 
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1"}

  %body
    - if admin_signed_in?
      .navbar.navbar-default.navbar-static-top.shadows{role: "navigation"}
        .container
          .navbar-header
            %button{type: "button", class: "navbar-toggle", 'data-toggle' => "collapse"  , 'data-target' => ".navbar-collapse"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to 'ODrms', root_path, class: "navbar-brand"
          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li{class: ("active" if  params[:controller] == 'registrants')}
                =link_to t('nav.registration'), registrants_path

              %li{class: ("active" if  params[:controller] == 'opendays')}
                =link_to t('nav.opendays'), opendays_path
  
              %li{class: ("active" if  params[:controller] == 'reports')}
                =link_to t('nav.reports'), reports_path
  
              %li{class: ("active" if  params[:controller] == 'faculties')}
                =link_to t('nav.faculties'), faculties_path

            %ul.nav.navbar-nav.navbar-right
              %li=link_to t('sign_out'), destroy_admin_session_path, method: :delete
    - else
      .space
    .container.shadows
      %noscript
        .alert.alert-warning
          %strong= t('warning').html_safe
          = t('javascript_warning').html_safe
      - if flash[:error]
        .alert.alert-danger#flash_error
          = flash[:error]
      - elsif flash[:success]
        .alert.alert-success#flash_success
          = flash[:success]
      = yield
  
    .container.footer
      %p=t('footer.copyright')
      %p.small=t('footer.lower')

  :javascript
     $("#flash_success").delay(5000).animate({height: 0, margin:0, padding: 0}, 350, "linear", function() {$("#flash_success").hide();});

     $(document).on 'page:fetch', ->
       $('#content').fadeOut 'slow'
 
     $(document).on 'page:restore', ->
       $('#content').fadeIn 'slow'
